/* styles for both anni-albers layouts */

main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 0.75rem;
    font-style: italic;
}

p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 50%;
}

p.callout {
    font-size: 2rem;
    line-height: 2.2rem;
    font-style: italic;
    float: right;
    text-align: right;
    padding-left: 2rem;
    margin-top: 0;
    align-items: center;
}

#row1 p,
#row3 p,
#row4 p,
#row6 p,
#row8 p,
#row10 p,
#row11 p {
margin-left: calc(100% * 2 / 6);
}

#row2 p {
    margin-left: calc(100% * 1/6);
    margin-right: calc(100% * 1/6);
}