/* styles for both anni-albers layouts */

main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    font-style: italic;
}

p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: calc(100% * 4 / 6)
}

p.callout {
    font-size: 1.5rem;
    line-height: 2.2rem;
    font-style: italic;
    float: right;
    text-align: right;
    padding-left: 2rem;
    margin-top: 0;
    width: calc(100% * 2 / 6);
}

#row1 p,
#row3 p,
#row4 p,
#row6 p,
#row8 p,
#row10 p,
#row11 p,
#about p {
    margin-left: calc(100% * 1 / 6);
}

/* css for index2 */

#secondLayout main {
    display: grid;
    grid-template-columns: repeat(6, calc(100% / 6));
    grid-template-rows: repeat(15, auto);
    grid-gap: 5px;
    grid-template-areas:
        'title title title title title title'
        '. . p1 p1 p1 .'
        'p2 p2 p2 . c1 c1'
        '. p3 p3 p3 . .'
         '. . p4 p4 p4 .'
        'p5 p5 p5 . c2 c2'
        '. . p6 p6 p6 .'
        'p7 p7 p7 . c3 c3'
        '. . p8 p8 p8 .'
        'p9 p9 p9 . c4 c4'
        '. p10 p10 p10 . .'
        '. . p11 p11 p11 .'
        '. . about about . .'
        '. p12 p12 p12 p12 .'
        '. p13 p13 p13 p13 .';
}

#secondLayout #title { grid-area: title;}
#secondLayout #para1 { grid-area: p1; }
#secondLayout #para2 { grid-area: p2; }
#secondLayout #para3 { grid-area: p3; }
#secondLayout #para4 { grid-area: p4; }
#secondLayout #para5 { grid-area: p5; }
#secondLayout #para6 { grid-area: p6; }
#secondLayout #para7 { grid-area: p7; }
#secondLayout #para8 { grid-area: p8; }
#secondLayout #para9 { grid-area: p9; }
#secondLayout #para10 { grid-area: p10; }
#secondLayout #para11 { grid-area: p11; }
#secondLayout #para12 { grid-area: p12; }
#secondLayout #para13 { grid-area: p13; }
#secondLayout #callout1 { grid-area: c1; }
#secondLayout #callout2 { grid-area: c2; }
#secondLayout #callout3 { grid-area: c3; }
#secondLayout #callout4 { grid-area: c4; }
#secondLayout #about    { grid-area: about; }

#secondLayout p {
    margin: 0;
    padding: 5px;
    width: 100%;
}

#secondLayout #callout1,
#secondLayout #callout2,
#secondLayout #callout3,
#secondLayout #callout4 {
    padding-left: 0;
}