/* styles for both anni-albers layouts */

main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    font-style: italic;
}

p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: calc(100% * 4 / 6)
}

p.callout {
    font-size: 1.5rem;
    line-height: 2.2rem;
    font-style: italic;
    float: right;
    text-align: right;
    padding-left: 2rem;
    margin-top: 0;
    width: calc(100% * 2 / 6);
}

#row1 p,
#row3 p,
#row4 p,
#row6 p,
#row8 p,
#row10 p,
#row11 p,
#about p {
    margin-left: calc(100% * 1 / 6);
}

/* css for index2 */

#secondlayout main {
    display: grid;
    grid-template-columns: repeat(6, calc(100% / 6));
    grid-template-rows: repeat(15, auto);
    grid-template-areas:
        '. . . . . .'
        '. . . . . .'
        '. . . . . .'
        '. . . . . .'
        '. . . . . .'
        '. . . . . .'
        '. . . . . .'
        '. . . . . .'
        '. . . . . .'
        '. . . . . .'
        '. . . . . .'
        '. . . . . .'
        '. . . . . .'
        '. . . . . .'
        '. . . . . .';
}

#secondlayout #title { grid-area: title;}
#secondlayout #para1 { grid-area: p1; }
#secondlayout #para2 { grid-area: p2; }
#secondlayout #para3 { grid-area: p3; }
#secondlayout #para4 { grid-area: p4; }
#secondlayout #para5 { grid-area: p5; }
#secondlayout #para6 { grid-area: p6; }
#secondlayout #para7 { grid-area: p7; }
#secondlayout #para8 { grid-area: p8; }
#secondlayout #para9 { grid-area: p9; }
#secondlayout #para10 { grid-area: p10; }
#secondlayout #para11 { grid-area: p11; }
#secondlayout #para12 { grid-area: p12; }
#secondlayout #para13 { grid-area: p13; }
#secondlayout #callout1 { grid-area: c1; }
#secondlayout #callout2 { grid-area: c2; }
#secondlayout #callout3 { grid-area: c3; }
#secondlayout #callout4 { grid-area: c4; }
#secondlayout #about    { grid-area: about; }

#secondlayout p {
    width: 100%
}